appdirs==1.4.0
appnope==0.1.0
astroid==1.4.9
cycler==0.10.0
decorator==4.0.11
h5py==2.7.0rc2
ipython==5.2.2
ipython-genutils==0.1.0
isort==4.2.5
lazy-object-proxy==1.2.2
llvmlite==0.15.0
matplotlib==2.0.0
mccabe==0.6.1
numba==0.30.1
numexpr==2.6.2
numpy==1.12.0
packaging==16.8
pandas==0.19.2
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
protobuf==3.2.0
ptyprocess==0.5.1
py==1.4.32
Pygments==2.2.0
pylint==1.6.5
pyparsing==2.1.10
pytest==3.0.6
python-dateutil==2.6.0
pytz==2016.10
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
stevedore==1.17.1
tables==3.3.0
traitlets==4.3.1
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper==4.7.2
wcwidth==0.1.7
wrapt==1.10.8
